# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Exclude python multiTools
!/python/multiTools/*.so
!/python/multiTools/*/*.so
